SmsPohApi/SmsPohApi/SmsPohApi.csproj
SmsPohApi/SmsPohApi/obj/SmsPohApi.csproj.nuget.g.props
/SmsPohApi/SmsPohApi/obj
/SmsPohApi/SmsPohApi/bin
/SmsPohApi/.vs/SmsPohApi/CopilotIndices
/SmsPohApi/.vs
/StreamingServerApi/.vs
StreamingServerApi/StreamingServerApi.sln
/StreamingServerApi/StreamingServerApi/bin
/StreamingServerApi/StreamingServerApi/obj
