SmsPohApi/SmsPohApi/SmsPohApi.csproj
SmsPohApi/SmsPohApi/obj/SmsPohApi.csproj.nuget.g.props
/SmsPohApi/SmsPohApi/obj
/SmsPohApi/SmsPohApi/bin
/SmsPohApi/.vs/SmsPohApi/CopilotIndices
/SmsPohApi/.vs
/StreamingServerApi/.vs
StreamingServerApi/StreamingServerApi.sln
/StreamingServerApi/StreamingServerApi/bin
/StreamingServerApi/StreamingServerApi/obj
/StreamingServerApi/StreamingServerApi/Properties
StreamingServerApi/StreamingServerApi/StreamingServerApi.csproj.user
StreamingServerApi/StreamingServerApi/StreamingServerApi.csproj.user
StreamingServerApi/StreamingServerApi/StreamingServerApi.csproj.user
StreamingServerApi/StreamingServerApi/StreamingServerApi.csproj.user
StreamingServerApi/UnitTest/ut.Tests/.vs/ut.Tests/CopilotIndices/17.12.53.23981/CodeChunks.db
StreamingServerApi/StreamingServerApi/StreamingServerApi.csproj.user
/StreamingServerApi/UnitTest/ut.Tests/.vs/ut.Tests/CopilotIndices
/StreamingServerApi/UnitTest/ut.Tests/.vs/ut.Tests/FileContentIndex
/StreamingServerApi/UnitTest/ut.Tests/.vs/ut.Tests/v17
/StreamingServerApi/UnitTest/ut.Tests/bin
/StreamingServerApi/UnitTest/ut.Tests/obj
StreamingServerApi/StreamingServerApi/StreamingServerApi.csproj.user
/MovieDemoWithBlazor/.config
/MovieDemoWithBlazor/.vs
/MovieDemoWithBlazor/bin
/MovieDemoWithBlazor/obj
/webassembly/.vs
/webassembly/bin
/webassembly/obj
